<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>PRESENTATION TITLE</title>
    <script src="https://use.typekit.net/ddh4txs.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="../common/hl/styles/xcode.css">
    <link rel="stylesheet" href="../common/style.css"/>
    <script src="../common/hl/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>

    <header class="quasar-removable">
      <div>
	<img class="logo-dc" src="../common/images/derniercri.png" alt="logo">
      </div>
      <h1>Titre de la présentation</h1>
    </header>
    
    <main id="quasar-slides">
      
      <section class="quasar-slide front-page">
	<div>
	  <h1>Titre de la <span>présentation</span></h1>
	  <img class="logo-dc" src="../common/images/derniercri.png" alt="logo">
	</div>
      </section>
      
      <section class="quasar-slide">
	<div>b</div>
      </section>

      <section data-label="introduction"  class="quasar-slide">
	<div>c</div>
      </section>

      <section class="quasar-slide">
	<div>d</div>
      </section>

      <section data-label="corps"  class="quasar-slide">
	<div>e</div>
      </section>

      <section class="quasar-slide">
	<div>f</div>
      </section>

      <section class="quasar-slide">
	<div>g</div>
      </section>

      <section data-label="fin" class="quasar-slide">
	<div>h</div>
      </section>

    </main>

    <footer class="quasar-removable">
      <span id="pagination"></span>
      <span id="label"></span>
    </footer>
      

    <script src="../common/slideshow.js" type="application/javascript"></script>
  </body>
</html>

