<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>PRESENTATION TITLE</title>
    <link rel="stylesheet" href="../common/hl/styles/xcode.css">
    <link rel="stylesheet" href="../common/style.css"/>
    <script src="../common/hl/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>

    <main id="quasar-slides">

      <header>
	header
      </header>
      
      <section class="quasar-slide front-page">
	a
      </section>
      
      <section class="quasar-slide">
	b
      </section>

      <section data-label="introduction"  class="quasar-slide">
	c
      </section>

      <section class="quasar-slide">
	d
      </section>

      <section data-label="corps"  class="quasar-slide">
	e
      </section>

      <section class="quasar-slide">
	f
      </section>

      <section class="quasar-slide">
	g
      </section>

      <section data-label="fin" class="quasar-slide">
	h
      </section>

      <footer>
	footer
      </footer>
      
    </main>

    <script src="../common/slideshow.js" type="application/javascript"></script>
  </body>
</html>

